{% extends 'just so so/moban.html'  %}

{% load static %}

{% block heather %}
    		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">登录</a>
            </h1>
	    </header>
{% endblock %}


{% block connect %}
    <form action="" method="POST">
    {% csrf_token %}
        {{ form.phone }}
        {{ form.errors.phone.0 }}

        {{ form.password}}
        {{ form.errors.password.0 }}
	    <input type="submit" class="login-btn" value="我要登录">
    </form>
	    <div class="agree">
	    	<a href="{% url 'user:register' %}">免费注册</a>
	    	<a href="forgetpassword.html" class="forget">忘记密码？</a>
	    </div>
	    <div class="line"></div>
	    <div class="line-text">第三方账号登录</div>
	    <ul class="second-login">
	    	<li><a href=""><img src="{% static 'images/wxlogin.png' %}"/></a></li>
	    	<li><a href=""><img src="{% static 'images/qqlogin.png' %}"/></a></li>
	    	<li><a href=""><img src="{% static 'images/sinalog.png' %}"/></a></li>
	    </ul>
{% endblock %}

